*{
    padding: 0;
    margin: 0;
}

body{
    background: url("red-forest-leaves.jpg");
    background-size: cover;
    font-family: Georgia, serif;
}

.head{
    font-size: 26px;
    color: white;
}
.box{
    width: 500px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: 1s;
    font-family: Georgia, serif;
}

input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
input[type="button"]{
    position: relative;
    width: 150px;
    left: -5px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 0 25px 25px 0;
    background-color: #ffa955;
    color: white;
}

input[type="button"]:hover{
    background-color: #a64044;
}