*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #b7bcff;
}

#button{
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background: linear-gradient(90deg, #00fafd, #fd00e0, #fff600, #29ecfd);
    width: 400px;
    height: 100px;
    color: white;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    background-size: 400%;
    z-index: 1;
}

#button::before{
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: linear-gradient(90deg, #00fafd, #fd00e0, #fff600, #29ecfd);
    background-size: 400%;
    border-radius: 50px;
    filter: blur(20px);
    z-index: -1;
}
#button:hover::before{
    animation: sun 8s infinite;
}
#button:hover{
    animation: sun 8s infinite;
}
@keyframes sun {
    100%{
        background-position: -400% 0;
    }
}